# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar directorios de build
dist/
build/
